.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.iframe-16x9 {
     position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; 
    
}

.iframe-4x3{
      position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe-16x9 iframe, .iframe-4x3 iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile .iframe-16x9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; 
}

.mobile .iframe-4x3 {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;  
}

.mobile .iframe-16x9 iframe, .mobile .iframe-4x3 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

h1,h2,h3

h1 {
    font-size: 3.3684em;
    line-height: 1.2656em;
    margin-top: 0.4219em;
    margin-bottom: 0;
}

h2 {
    font-size: 2.2632em;
    line-height: 1.2558em;
    margin: 0.4219em auto 0.4219em auto;
}

h3 {
    font-size: 1.5263em;
    font-weight: normal;
    line-height: 1.8621em;
    margin-top: 0.9310em;
    margin-bottom: 0;
}