body{
    padding-left:150px;
    
}
/*外圍*/
/*.div-contaner{
    height:768px;
    width:100%;
}
*/

.div-header-left{
    
 background:url(../img/Burj-Al-Arab-Hotel.jpg) no-repeat center
 
    
}

/*
.div-header-center{
    background-color:#ffff99;
   float:left;
}

.div-header-right{
   margin:0 100px;
    background:rgba(139, 240, 19, 0.5 );
  
}*/

div {
    height:120px;
    width:650px;
    border:2px dashed #FF44AA;
    padding-left:;
    margin:15px;
}


span ul{
    list-style-type:none;/*文字左邊黑點不顯示*/
    /*padding:0; 利用內間距屬性標籤(padding)，使文字靠左*/ 
}

