.wrapper {
        width: 900px;   /*寬度設定為900px*/
        margin: auto;   /*版面居中對齊*/
        }

.header {
        height: 130px; /*高度設定為130px，因有有設背景圖片，所以要設高度*/
        }

.btn {
        height:  30px; /*高度設定為  30px，此部分因為裡面的圖片自己會有高度，所以高度也不一定要設定*/
        }

.content {
        /* CSS 中 DIV 自己會長到上層 DIV100% 的寬度 (在這裡就是 #wrapper)，所以可不用設定寬度*/
        }

.footer {

         }