@media (max-width: 640px) { 
    .nav {
        display: none;
    }
    .toggle {
        display: inline-block;
        background: #D8540A;
        padding: 10px 15px;
        color: #FFF;
    }
    .nav li{
        float: none;
    }
    .nav li a{
        padding: 10px 15px;
    }
    .nav li:hover ul {
        position: relative;
        display: block;
        background: transparent;
    }
    .nav li:hover ul li{
        background: transparent;
    }
    .nav li:hover ul li a{
        padding-left: 30px;
    }
    .arrow-bottom {
        top: 20px;
    }
}